.logo {
    max-width: 14rem;
}
.topbar {
    height: 6.375rem;
}
.sidebar .nav-item .nav-link .img-profile, 
.topbar .nav-item .nav-link .img-profile {
    height: 4rem;
    width: 4rem;
}
.custom-control-label {
    padding-top: 0.25rem;
}
.table td,
.table th {
    vertical-align: middle;
    text-align: center;
}
